.login-container {
    width: 100%;
    padding: 50px 0;
}

.login-form {
    max-width: 355px;
    margin: auto;
}

.login-form input {
    height: 52px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid rgb(180, 189, 193);
    border-radius: 3px;
}

.login-form p {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.login-form p:last-child a {
    text-decoration: underline !important;
}

.login-form .btn {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
}

@media only screen and (max-width: 414px) {
    .login-container {
        padding: 0 10px 50px;
    }
    .login-form {
        max-width: 100%;
    }
}